/*Color Pallette
#EAC435 - Saffron
#3E6990 - Queen Blue
#1B998B - Jungle Green
#313E50 - Charcoal
#E83F6F - Paradise Pink
*/

body {
    font-family: 'Nunito Sans', sans-serif;
    background: url(https://s-media-cache-ak0.pinimg.com/originals/6b/e1/84/6be1847b56e3832a614699142d1e09d8.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.controls {
    margin-top: 3%;
}

header #description {
    margin-top: -1%;
    font-size: 20px;
    background: #EAC435;
}

header #title {
    font-family: 'Lobster', cursive;
    margin-top: 4%;
    font-size: 65px;
    text-shadow: -3px 5px 5px #FFFFFF;
}

#timer {
    font-size: 100px;
    color: #FBFCFF;
    background-color: #313E50;
    opacity: 0.92;
    max-width: 315px;
    margin: auto;
}

.pomodoro {
    height: 100px;
    margin-top: 5%;
    padding-right: 35px;
}

.questions {
    font-size: 20px;
}

.settings {
    background: #3E6990;
    font-size: 24px;
    padding: 5px 20px 5px 20px;
    color: white;
    text-align: center;
    vertical-align: middle;
    border-radius: 25px;
}

#pom-settings {
    margin-top: 2%;
}